<% provide(:title, "Contact") %>
<h1>TRƯỜNG ĐẠI HỌC BÁCH KHOA HÀ NỘI</h1>
<h2>Viện Công nghệ thông tin và Truyền thông</h2>
<p>
<h2>
Báo cáo thực tập tốt nghiệp
<br>Đề tài: Hệ thống quản lý hiến máu
</h2>
<h3>GVHD: ThS. Lê Thị Hoa</h3>
<h3>SVTH: Mai Trường Giang</h3>
<br>MSSV: 20151031C
<br>Hà Nội, 3/2018
</p>