<div class="container">
<br>
  <div class="jumbotron">
    <h2 class="text-center">Cảm ơn <strong>Mai Trường Giang</strong>!</h2>
    <hr>
    <h4>Phiếu đăng ký hiến máu tình nguyện của bạn đã được gửi tới <strong>Viện Huyết Học Truyền Máu Trung Ương.</strong> Chúng tôi sẽ liên hệ lại bạn khi có kết quả lịch hiến máu.</h4>
    <h4><strong>Trân trọng!</strong></h4>
    <hr>
    <h5>Mọi thông tin xin liên hệ: <strong>Viện Huyết Học - Truyền Máu Trung ương</strong></h5>
    <h5><strong>Địa chỉ:</strong> Phạm Văn Bạch, Yên Hoà, Cầu Giấy, Yên Hoà Cầu Giấy Hà Nội></h5>
   	<h5><strong>Điện thoại:</strong> 024 3868 5582</h5>
  </div>
</div><br><br><br><br><br><br><br><br><br><br>