<div class="container">
<ul class="breadcrumb">
    <li><a href="#">Home</a></li>
    <li><a href="#">Hiến máu</a></li>
    <li class="active">Danh sách hiến máu</li>        
  </ul>
  <hr>
  <h2>Danh sách thành viên đăng ký hiến máu</h2>
  <p>Danh sách được hiển thị theo ngày đăng ký mới nhất:</p>               
  <nav class="col-sm-12" id="myScrollspy">
  <table class="table">
    <thead>
      <tr>
        <th>Ngày đăng ký</th>
        <th>Mã ID</th>
        <th>Họ và tên</th>
        <th>Nhóm máu</th>
        <th>Số lượng máu hiến</th>
        <th>Nơi tiếp nhận</th>
        <th>Trạng thái</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>22/3/2018</td>
        <td>000001</td>
        <td>Mai Trường Giang</td>
        <td>O</td>
        <td>300mg</td>
        <td>Viện Huyết học Truyền máu Trung Ương</td>
        <td>Hoàn thành</td>
      </tr>
      <tr>
        <td>23/3/2018</td>
        <td>000002</td>
        <td>Nguyễn Thị Mừng</td>
        <td>AB</td>
        <td>200mg</td>
        <td>Bệnh viện Bạch Mai</td>
        <td>Chưa xác nhận</td>
      </tr>
    </tbody>
  </table>
  <ul class="pagination">
  <li class="disabled"><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
</ul>
</nav>
</div>