@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* header */

.navbar-inverse {
  background-color: #f7f7f7;
  border-color: #139bdc;
}
.navbar-brand {
  float: left;
  padding: 15px 15px;
  font-size: 20px;
  line-height: 20px;
  height: 50px;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a {
  color: #5d6fc7;
  background-color: transparent;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.2em;
  letter-spacing: -1px;
  padding-top: 0px;
  font-weight: bold;
}

#logo:hover {
  text-decoration: none;
}

/* jumbotron */
.jumbotron {
  padding-top: 18px;
  padding-bottom: 18px;
}
.container .jumbotron, .container-fluid .jumbotron {
    padding-left: 20px;
    padding-right: 20px;
}
/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}
.pagination {
    display: inline-block;
    text-align: center;
}

/* footer */
footer {
  background-color: #f2f2f2;
  padding: 25px;
}

.carousel-inner img {
  width: 100%; /* Set width to 100% */
  min-height: 200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
  .carousel-caption {
    display: none; 
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
