<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <div class="navbar-brand"><span class="glyphicon glyphicon-tint"></span><strong><%= link_to "  Hệ thống đăng ký hiến máu Online", '#', id: "logo" %></strong></div>
    </div> 
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",   '#' %></li>
        <!-- <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Chức năng<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
            <li role="presentation" class="dropdown-header">Quản lý</li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Quản lý máu</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Quản lý chi nhánh</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Quản lý người quản trị chi nhánh</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Hạt giống tâm hồn</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Truyện thiếu nhi</a></li>
            <li role="presentation" class="divider"></li>
            <li role="presentation" class="dropdown-header">Báo cáo</li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Khởi nghiệp</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Marketing - Bán hàng</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Quản trị - Lãnh đạo</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Đầu tư - Tài chính</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Kiến thức kinh tế</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Kinh doanh tổng hợp</a></li> 
          </ul> -->
          <!-- <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Sách nói</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Kinh doanh</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Kỹ năng</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Tủ sách gia đình</a></li>
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Tạp chí & Chuyên đề</a></li>
           <li role="presentation"><a role="menuitem" tabindex="-1" href="#">Tuyển tập chọn lọc</a></li>
          </ul> -->
        </li>
        <!-- <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li> -->
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span><strong>   Login</strong></a></li>
      </ul>
    </nav>
  </div>
</header><br>